<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center p-4"
     style="background-color: #f8f9fa; position: relative;"
       style="
    background-image: url(https://t3.ftcdn.net/jpg/03/10/27/00/360_F_310270046_VUBm1DmHdgtiQDDmOAk450UXQtvyvn1H.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  ">



  <!-- TITLE -->
  <h1 class="fw-bold text-center mt-4">Login</h1>
  <p class="text-center fs-5 mb-4">More than 100 plus Recipes from around the world</p>

  <!-- LOGIN CARD -->
  <form [formGroup]="loginform"  (ngSubmit)="login()"  class="shadow-lg p-5 rounded  my-3" style="width: 400px;background-color: rgba(0, 0, 0, 0.3);">

      <h3 class="text-center fw-bold mb-4">
        <i class="fas fa-graduation-cap me-2"></i> Cookpedia
      </h3>

       <input  formControlName="email" name="email" type="email" class="form-control mb-3" placeholder="E Mail">
         @if (this.loginform.get('email')?.errors && loginform.get('email')?.touched) {
           <div class="mb-2 text-danger ">
         <p>*Invalid email</p>
        </div>
        }
        <input  formControlName="password" name="password" type="text" class="form-control mb-3" placeholder="Password">
         @if (this.loginform.get('password')?.errors && loginform.get('password')?.touched) {
           <div class="mb-2 text-danger ">
         <p>*Invalid password</p>
        </div>
        }

      <button type="submit" class="btn btn-success w-100">Login</button>

  </form>
</div>
 <div class="my-3" ><app-footer></app-footer></div>


